---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";

export interface Props {
	content: {
		title: string;
		description: string;
		pubDate?: string;
		updatedDate?: string;
		heroImage?: string;
	};
}

const {
	content: { title, description, pubDate, updatedDate, heroImage },
} = Astro.props;
---

<style is:global>
	article p {
		@apply py-4;
	}
</style>

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body>
		<Header />
		<main>
			<article>
				{
					heroImage && (
						<img
							class="mb-8 w-full h-96 object-cover"
							src={`/assets/${heroImage}`}
							alt=""
						/>
					)
				}
				<h1 class="my-4 text-5xl">{title}</h1>
				{
					pubDate && (
						<time datetime={pubDate}>
							{new Date(pubDate).toLocaleDateString("en-us", {
								year: "numeric",
								month: "short",
								day: "numeric",
								timeZone: "UTC",
							})}
						</time>
					)
				}
				{
					updatedDate && (
						<div>
							Last updated on <time>{updatedDate}</time>
						</div>
					)
				}
				<hr class="my-4" />
				<slot />
			</article>
		</main>
	</body>
</html>
